{% extends 'incidents/base.html' %}
{% block sidebar %}
<div class="sidebar">
    <div class="card-panel">
        <h3><i class="fas fa-lock-open"></i> Введите новый пароль</h3>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Новый пароль</label>
                {{ form.new_password1 }}
            </div>
            <div class="form-group">
                <label>Подтверждение пароля</label>
                {{ form.new_password2 }}
            </div>
            <button type="submit" class="submit-btn">Сменить пароль</button>
        </form>
    </div>
</div>
{% endblock %}
{% block map %}<div id="map" style="height:100%; background:#1a1e2a;"></div>{% endblock %}
